// variables
$background-color: #f8f8f8;
 
// $global-color:#00B26A;
$global-color:#3F86FB;

/* 边框 */
$custom-border: 1px solid #EFEFEF;
$custom-strong-border: 2px solid #EFEFEF;

/* 文字大小 */
$custom-font-size-simple: 15px;	// 正常大小
$custom-font-size-lg: 16px;		// 稍大字号
$custom-font-size-sm: 13px;		// 稍小字号
$custom-font-size-mini: 12px;		// 最小字号

/* 文字颜色 */
$custom-text-color: #333333; 	// 基本色
$custom-text-color-dark: #666666;	// 辅助深色
$custom-text-color-undertint: #999999;	// 辅助浅色
$custom-text-color-inverse: #FFFFFF;	//反色

/* 图片大小 */

$custom-image-icon-size: 20px;
$custom-image-icon-size-lg: 25px;
$custom-image-icon-size-sm: 17px;

/* 圆角*/
$custom-border-radius: 5px;